# INSUFFISANCE CARDIAQUE

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import SGDClassifier,LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn import svm,preprocessing
from sklearn.datasets import make_classification
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures, StandardScaler, LabelBinarizer,LabelEncoder
from sklearn.model_selection import learning_curve, train_test_split, GridSearchCV
from sklearn.metrics import f1_score, classification_report, confusion_matrix,accuracy_score
from sklearn.feature_selection import SelectKBest, f_classif

## Chargement des donnees

In [2]:
df_test0=pd.read_excel('New_insuffisance_cardiaque.xlsx')
df_test0

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,trustii_id
0,58.0,0.0,144.0,1.0,38.0,1.0,327000.00,0.70,142.0,0.0,0.0,83.0,1
1,50.0,1.0,249.0,1.0,35.0,1.0,319000.00,1.00,128.0,0.0,0.0,28.0,2
2,60.0,0.0,166.0,0.0,30.0,0.0,62000.00,1.70,127.0,0.0,0.0,207.0,3
3,60.0,0.0,235.0,1.0,38.0,0.0,329000.00,3.00,142.0,0.0,0.0,30.0,4
4,86.0,0.0,582.0,0.0,38.0,0.0,263358.03,1.83,134.0,0.0,0.0,95.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85.0,0.0,5882.0,0.0,35.0,0.0,243000.00,1.00,132.0,1.0,1.0,72.0,86
86,55.0,0.0,572.0,1.0,35.0,0.0,231000.00,0.80,143.0,0.0,0.0,215.0,87
87,50.0,1.0,582.0,1.0,20.0,1.0,279000.00,1.00,134.0,0.0,0.0,186.0,88
88,60.0,0.0,2261.0,0.0,35.0,1.0,228000.00,0.90,136.0,1.0,0.0,115.0,89
89,60.0,0.0,582.0,1.0,38.0,1.0,451000.00,0.60,138.0,1.0,1.0,40.0,90

In [3]:
df_test0=df_test0.set_index('trustii_id')
df_test0

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
trustii_id,,,,,,,,,,,,
1,58.0,0.0,144.0,1.0,38.0,1.0,327000.00,0.70,142.0,0.0,0.0,83.0
2,50.0,1.0,249.0,1.0,35.0,1.0,319000.00,1.00,128.0,0.0,0.0,28.0
3,60.0,0.0,166.0,0.0,30.0,0.0,62000.00,1.70,127.0,0.0,0.0,207.0
4,60.0,0.0,235.0,1.0,38.0,0.0,329000.00,3.00,142.0,0.0,0.0,30.0
5,86.0,0.0,582.0,0.0,38.0,0.0,263358.03,1.83,134.0,0.0,0.0,95.0
...,...,...,...,...,...,...,...,...,...,...,...,...
86,85.0,0.0,5882.0,0.0,35.0,0.0,243000.00,1.00,132.0,1.0,1.0,72.0
87,55.0,0.0,572.0,1.0,35.0,0.0,231000.00,0.80,143.0,0.0,0.0,215.0
88,50.0,1.0,582.0,1.0,20.0,1.0,279000.00,1.00,134.0,0.0,0.0,186.0
89,60.0,0.0,2261.0,0.0,35.0,1.0,228000.00,0.90,136.0,1.0,0.0,115.0
90,60.0,0.0,582.0,1.0,38.0,1.0,451000.00,0.60,138.0,1.0,1.0,40.0

In [4]:
df_train=pd.read_excel('New_Machine learning et Insuffisance Cardiaque_2.xlsx')
df_train

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,73.0,0.0,582.0,0.0,20.0,0.0,263358.03,1.83,134.0,1.0,0.0,198.0,1
1,70.0,0.0,212.0,1.0,17.0,1.0,389000.00,1.00,136.0,1.0,1.0,188.0,0
2,60.0,1.0,737.0,0.0,60.0,1.0,210000.00,1.50,135.0,1.0,1.0,95.0,0
3,45.0,0.0,615.0,1.0,55.0,0.0,222000.00,0.80,141.0,0.0,0.0,257.0,0
4,55.0,0.0,748.0,0.0,45.0,0.0,263000.00,1.30,137.0,1.0,0.0,88.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,44.0,0.0,84.0,1.0,40.0,1.0,235000.00,0.70,139.0,1.0,0.0,79.0,0
205,46.0,0.0,719.0,0.0,40.0,1.0,263358.03,1.18,137.0,0.0,0.0,107.0,0
206,60.0,0.0,68.0,0.0,20.0,0.0,119000.00,2.90,127.0,1.0,1.0,64.0,1
207,53.0,1.0,91.0,0.0,20.0,1.0,418000.00,1.40,139.0,0.0,0.0,43.0,1
208,46.0,0.0,168.0,1.0,17.0,1.0,271000.00,2.10,124.0,0.0,0.0,100.0,1

## Normalisation MinMax()

In [5]:
scaler = preprocessing.MinMaxScaler()
df_train=pd.DataFrame(scaler.fit_transform(df_train.values),columns=df_train.columns)
df_train

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,0.600000,0.0,0.068467,0.0,0.076923,0.0,0.269437,0.149438,0.600000,1.0,0.0,0.690391,1.0
1,0.545455,0.0,0.021116,1.0,0.030769,1.0,0.425903,0.056180,0.657143,1.0,1.0,0.654804,0.0
2,0.363636,1.0,0.088303,0.0,0.692308,1.0,0.202989,0.112360,0.628571,1.0,1.0,0.323843,0.0
3,0.090909,0.0,0.072690,1.0,0.615385,0.0,0.217933,0.033708,0.800000,0.0,0.0,0.900356,0.0
4,0.272727,0.0,0.089711,0.0,0.461538,0.0,0.268991,0.089888,0.685714,1.0,0.0,0.298932,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,0.072727,0.0,0.004735,1.0,0.384615,1.0,0.234122,0.022472,0.742857,1.0,0.0,0.266904,0.0
205,0.109091,0.0,0.085999,0.0,0.384615,1.0,0.269437,0.076404,0.685714,0.0,0.0,0.366548,0.0
206,0.363636,0.0,0.002687,0.0,0.076923,0.0,0.089664,0.269663,0.400000,1.0,1.0,0.213523,1.0
207,0.236364,1.0,0.005631,0.0,0.076923,1.0,0.462017,0.101124,0.742857,0.0,0.0,0.138790,1.0
208,0.109091,0.0,0.015485,1.0,0.030769,1.0,0.278954,0.179775,0.314286,0.0,0.0,0.341637,1.0

In [6]:
df_test=pd.DataFrame(scaler.fit_transform(df_test0.values),columns=df_test0.columns)
df_test.index=df_test0.index
df_test

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
trustii_id,,,,,,,,,,,,
1,0.36,0.0,0.020652,1.0,0.470588,1.0,0.582931,0.019231,0.875000,0.0,0.0,0.275735
2,0.20,1.0,0.038573,1.0,0.411765,1.0,0.567484,0.076923,0.291667,0.0,0.0,0.073529
3,0.40,0.0,0.024407,0.0,0.313725,0.0,0.071249,0.211538,0.250000,0.0,0.0,0.731618
4,0.40,0.0,0.036184,1.0,0.470588,0.0,0.586793,0.461538,0.875000,0.0,0.0,0.080882
5,0.92,0.0,0.095409,0.0,0.470588,0.0,0.460046,0.236538,0.541667,0.0,0.0,0.319853
...,...,...,...,...,...,...,...,...,...,...,...,...
86,0.90,0.0,1.000000,0.0,0.411765,0.0,0.420738,0.076923,0.458333,1.0,1.0,0.235294
87,0.30,0.0,0.093702,1.0,0.411765,0.0,0.397567,0.038462,0.916667,0.0,0.0,0.761029
88,0.20,1.0,0.095409,1.0,0.117647,1.0,0.490249,0.076923,0.541667,0.0,0.0,0.654412
89,0.40,0.0,0.381976,0.0,0.411765,1.0,0.391774,0.057692,0.625000,1.0,0.0,0.393382
90,0.40,0.0,0.095409,1.0,0.470588,1.0,0.822360,0.000000,0.708333,1.0,1.0,0.117647

## Variables dependantes et variables explixactives

In [7]:
y_train=df_train['DEATH_EVENT'].values 
y_train

array([1., 0., 0., 0., 0., 1., 1., 1., 1., 0., 1., 1., 0., 0., 1., 0., 1.,
       1., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 1., 0.,
       0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1.,
       0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 0.,
       0., 0., 0., 0., 0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 1., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 1., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0.,
       0., 0., 1., 1., 1.])

In [8]:
x_train=df_train.drop(columns='DEATH_EVENT').values
x_train

array([[0.6       , 0.        , 0.06846685, ..., 1.        , 0.        ,
        0.69039146],
       [0.54545455, 0.        , 0.02111595, ..., 1.        , 1.        ,
        0.65480427],
       [0.36363636, 1.        , 0.08830305, ..., 1.        , 1.        ,
        0.32384342],
       ...,
       [0.36363636, 0.        , 0.00268748, ..., 1.        , 1.        ,
        0.21352313],
       [0.23636364, 1.        , 0.00563092, ..., 0.        , 0.        ,
        0.13879004],
       [0.10909091, 0.        , 0.01548503, ..., 0.        , 0.        ,
        0.34163701]])

## Subdivision des donnees d'entrainement en sous donnees de test et d'entrainement.

In [9]:
x_train_train, x_train_test, y_train_train, y_train_test = train_test_split(x_train, y_train,test_size = 0.2,random_state=42)

## Test de modeles afin de choisir le meilleur

In [10]:
def test_function():
    m1=RandomForestClassifier()
    m2=GradientBoostingClassifier()
    m3=KNeighborsClassifier(n_neighbors=10)
    m4=LogisticRegression(penalty='none',solver='newton-cg')
    m5=DecisionTreeClassifier()
    m6= AdaBoostClassifier()
    m1.fit(x_train_train,y_train_train)
    m2.fit(x_train_train,y_train_train)
    m3.fit(x_train_train,y_train_train)
    m4.fit(x_train_train,y_train_train)
    m5.fit(x_train_train,y_train_train)
    m6.fit(x_train_train,y_train_train)
    print(m1.score(x_train_test,y_train_test))
    print(m2.score(x_train_test,y_train_test))
    print(m3.score(x_train_test,y_train_test))
    print(m4.score(x_train_test,y_train_test))
    print(m5.score(x_train_test,y_train_test))

In [15]:
test_function()

0.8809523809523809
0.8095238095238095
0.7142857142857143
0.8571428571428571
0.7619047619047619

## Apres plusieurs tests, la fonction RandomForestClassifer() est de loin le modele qui donne de meilleurs scores

## Utilisation du modele RandomForestClassifier()

In [16]:
model=RandomForestClassifier(n_estimators=200)

In [17]:
model.fit(x_train,y_train)

RandomForestClassifier(n_estimators=200)

In [18]:
p=model.predict(df_test.values)
p

array([0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0.,
       0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 1.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0.,
       1., 0., 0., 0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1.,
       1., 0., 0., 0., 0.])

In [19]:
df_test['DEATH_EVENT']=p
df_test

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
trustii_id,,,,,,,,,,,,,
1,0.36,0.0,0.020652,1.0,0.470588,1.0,0.582931,0.019231,0.875000,0.0,0.0,0.275735,0.0
2,0.20,1.0,0.038573,1.0,0.411765,1.0,0.567484,0.076923,0.291667,0.0,0.0,0.073529,1.0
3,0.40,0.0,0.024407,0.0,0.313725,0.0,0.071249,0.211538,0.250000,0.0,0.0,0.731618,0.0
4,0.40,0.0,0.036184,1.0,0.470588,0.0,0.586793,0.461538,0.875000,0.0,0.0,0.080882,1.0
5,0.92,0.0,0.095409,0.0,0.470588,0.0,0.460046,0.236538,0.541667,0.0,0.0,0.319853,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,0.90,0.0,1.000000,0.0,0.411765,0.0,0.420738,0.076923,0.458333,1.0,1.0,0.235294,1.0
87,0.30,0.0,0.093702,1.0,0.411765,0.0,0.397567,0.038462,0.916667,0.0,0.0,0.761029,0.0
88,0.20,1.0,0.095409,1.0,0.117647,1.0,0.490249,0.076923,0.541667,0.0,0.0,0.654412,0.0
89,0.40,0.0,0.381976,0.0,0.411765,1.0,0.391774,0.057692,0.625000,1.0,0.0,0.393382,0.0
90,0.40,0.0,0.095409,1.0,0.470588,1.0,0.822360,0.000000,0.708333,1.0,1.0,0.117647,0.0

In [22]:
df_test.to_csv('test2.csv',encoding='UTF-8')